*{
    margin:0;
    padding:0;
}
::selection{
    color: #bb00ff;
    background-color:whitesmoke;
}

.top-a{
    display:grid;
    grid-template-columns: 20% 45%  10% 20%;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom:20px;
    background-color: rgb(0, 0, 0);
    color:white;

}

.top-in{
    display:flex;
    gap:2%;

}

i{
    color:aliceblue;
    padding-left:20px;
}

a{
    text-decoration: none;
    margin-right:17px;
    color:aliceblue;
}

.fa-facebook:hover{
    color:blue;
}
.fa-x-twitter:hover{
    color:rgb(73, 165, 241);
}
.fa-whatsapp:hover{
    color:rgb(64, 228, 64);
}
.fa-instagram:hover{
    color:rgb(230, 11, 230);
}
.fa-linkedin:hover{
color:rgb(74, 74, 249);
}
.fa-youtube:hover{
    color:red;
}

.navbar{
    display:grid;
    grid-template-columns:30% 50% 10%;
    position:sticky;
    top:0;
    background-color:rgb(242, 244, 244);
    padding-top:15px;
    padding-bottom:6px;
    padding-left:30px;

}
.dp{
    margin-top:1.5%;
}

ul li{
    display:inline;
    margin-right:15px;
    
}

ul li a{
  color:black;
  font-size:20px;
  font-family:Times, Times New Roman, serif;
  font-variant: small-caps;

}

.dp li a:hover{
    border-bottom: solid 2px teal;
}

.navbar li a:hover{
    color:#5e15dc;
    
}

button{
    background-color:#9A65F7;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
}

button:hover{
    transform: translateY(-3px);
}
 
section{
    background-image: url('img/background-.png');
    background-size: 100%;
    background-repeat: no-repeat;
    padding-left:60%;
    width:40%;
    height:450px;
    filter: blur(1.3px);
    z-index: -1; 
    position: absolute;     
}

.content h2{
    color:black;
    font-size:60px;
    padding:7%;
    text-align:justify;
    padding-bottom:2%;
    padding-left: 20%;
}
.content .btn{
    background-color:#8654dd;
    color: #fff;
    border:none; 
    border-radius:10px; 
    min-height:30px; 
    min-width: 120px;
    margin-left:30%;
    
}

.p{
    border-radius:50%;
    margin-top:7%;
    margin-bottom:3%;
    margin-left: 50%;
}

#m{
    margin-left:20%;
    text-align:justify;
}
#m h3{
    font-size:20px;
    color:grey;
    margin-left: 28%;
   
}

#m h2{
    margin-top: 2%;
    font-size:40px;
    margin-left: 8%;

}

.abt-img{
    display: flex;
    gap:4%;
    justify-content: center;
    margin-top:5%;
}

.abt-img div:hover{
    transform:scale(1.1);
}

.abt-img1{
    display:grid;
    grid-template-columns: 30% 30% 30%;
    gap:3%;
    justify-content: justify;
    margin-top:3%;
    
}


h4{
    font-size: 25px;
    margin-left: 23%;
}

.m{
    margin-left:20%;
    text-align:justify;
}
.m h3{
    font-size:20px;
    color:grey;
    margin-left: 27%;

}

.m h2{
    margin-top: 2%;
    font-size:45px;
    margin-left: 23%;

}

 .c li{
    font-size:24px;
    margin-right:5%;
    font-variant: small-caps;
    
}

.c{
    margin-top:3%;
    margin-left: 13%;
}

.btn{
    background-color:#A16CF8;
    color: #fff;
    border:none; 
    border-radius:10px 8px; 
    min-height:30px; 
    min-width: 120px;
    margin-left:45%;
    margin-top: 3%;
}

.para1{
    display: flex;
    gap:15%;
    text-align: justify;
    margin-top:5%;
    margin-left:10%;
    margin-right:5%;
    gap:28%;

}

.para{
    display: flex;
    gap:15%;
    text-align: justify;
    margin-top:2%;
    margin-left:5%;
    margin-right:5%;
    font-size:18px;

}


.abt-img2{
    display:grid;
    grid-template-columns: 30% 30% 30%;
    gap:5%;
    justify-content: justify;
    margin-top:3%;
    
}

.abt-img2 div:hover{
    color:#9A65F7
}

.footer{
    background-color:black;
    padding:3%;
    height:200px;
    width:94%;
    background-size:100%;
    display:grid;
    grid-template-columns: 40% 20% 20%; 
    justify-content: space-around;
    color:white;
   margin-top:10%;
   
}

.foot li{
    display: block;
   margin-bottom:5%;
}


.copy{
    background-color: rgb(27, 6, 6);
    color:white;
   
    height:50px;
}
.copy p{
    margin-top:1%;
    display:inline-flex;
    margin-right:5%;
   margin-left:7%;
}

.abt-pic{
    background-image:url('img/abt-2.jpg');
    height:400px;
    width:100%;
    filter: blur(1px);
    z-index: -1; 
    position:absolute;
    background-repeat: no-repeat;
    
}

.abt-h2{
    font-size:70px !important ;
    margin:14%;
    margin-left:60%;
}


 .d{
    margin-top:0;
 }
.a-1{
    display:grid;
    grid-template-columns: 40% 25% 25%;
    justify-content: space-around;
    text-align: justify;
    margin-left: 5%;
    margin-left: 3%;
   
}

.a-1 .br h2{
    font-size: 35px;

}

.a-1 img{
    border-radius: 20px 15px ;
} 

.br{
    border-radius: 10px;
}
.br p{
    line-height: 23px
}

.ing{
   
    display:grid;
    grid-template-columns: 25% 25% 25%;
    padding-top:6%;
    justify-content: space-around;
    
}
.ing h3{
    font-size: 18px;
    text-align: center;
}

.ing h2{
    font-size: 40px;
    text-align: center;
    font-family: Times, Times New Roman, serif;
}

.ig{
    border-radius:5%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    height:200px;
    text-align: center;
    
}
.ig h3{
    margin-top:2%;
    font-size:20px;
    font-family: Verdana, sans-serif;
}

.ing .ig:hover{
    background-color: #ade2ed;
    box-shadow: 0px 8px 10px 1px rgba(157, 67, 160, 0.2);
  transform: translateY(-8px);
  transition-duration: 1s;

}
button{
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

button:hover{
    box-shadow: inset 200px 0 0 0 #54b3d6;
}
.abt-us{
    display:grid;
    grid-template-columns: 40% 40%;
    justify-content: space-around;
    text-align: justify;
}

.abt-us .au h3{
    margin-top:5%;
    margin-bottom: 7%;
    font-size:30px;
    font-family: Verdana, sans-serif;
}
.au ol{
    margin-top:5%;
    margin-bottom: 10%;
    display:grid;
    grid-template-columns: 35% 35%;
    justify-content: space-around;
    font-family:Helvetica, sans-serif;
}

ol li{
    line-height: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.clients{
    margin-top:8%;
    display: flex;
    justify-content: space-around; 
  
}

#clients h4{
    font-size: 40px; 
    font-family: cursive;
}

#clients p{
    color:rgb(91, 41, 137);
    margin-top:3%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.client-1{
    display:grid;
    grid-template-columns: 45% 40%;
    justify-content: space-around;
    margin-bottom: 5%;
    margin-left:5%;
   
}
.client-1 div h6{
    font-size: 20px;
    margin-bottom: 3%;
    color:#754ab9;
}
.client-1 div h3{
    font-size: 30px;
    font-family: Verdana, sans-serif;
}

.client-1 div p{
    line-height: 30px;
}
.a-2{
    display:grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
    text-align: center;
    margin-left: 5%;
    margin-left: 3%;
   
}

.a-2 h3{
    margin-top: 3%;
    font-size: 45px;
    font-family: Didot, serif;
}

.a-2 h5{
    color: rgb(180, 153, 153);
    font-size:20px;
    
}
.kj{
    text-align: center;
    font-family: Gill Sans, sans-serif;
   
}
.kj h5{
    font-size: 25px;
    color:grey;
}
.kj h3{
    font-size: 50px;
    margin-top: 1%;
    margin-bottom: 4%;
}
.r{
    display: flex;
    justify-content: space-around;
    
}

.r div{
    border-radius: 5%;
    width:200px;
    height:150px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

header{
    
    background-image:url('img/se.jpg');
    height:300px;
    width:100%;
    position: absolute;
    filter: blur(1px);
    z-index: -1;
    
}
.ba{
    font-size:60px;
    margin-top:13%;
    margin-left:20%;
    text-align: center;
    margin-bottom:15%;
}
.mj{
    display:grid;
    grid-template-columns: 40% 20% 20%;
    justify-content: space-around;
    text-align: justify;
    align-items: center;
   
}

span{
    color:#591eb8;
}

.mj div h2{
    text-align:start;
    font-size: 45px;
    margin-top:2%; 
    margin-bottom: 2%;
    font-family: Gill Sans, sans-serif;
}
.mj div,.jn div{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    height:280px;
    padding:5%;
    transition:transform 2s;
}
.jn div:hover,.mj div:hover{
    transform:rotate(5deg);

}
.jn{
    margin-top:5%;
    display:grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: space-around;
    text-align: justify;
    align-items: center;
}
.jn div i, .mj i{
    color:#bc5fde;
    font-size: 25px;
    margin-top:4%;
}
.mj h4,.jn h4{
    margin:5%;
}

.jm{
    display:grid;
    grid-template-columns: 30% 30% 30%;
    
}
.grid{
    display: flex;
    margin-left:5%;
    gap:4%;
}
.grid img{
    float:right;
}
.grid h2{
    margin-top:10%;
    font-size: 60px;
}

.h{
    text-align: center;
    padding:4%;
}
.h h2{
    font-size: 40px;
    font-family: Trebuchet MS, sans-serif;
}
.v{
    margin-left:10%;
}
.v h4{
    margin-left:-1%;
}

.v h6{
    font-family: Apple Chancery, cursive;
    font-size:20px;
}
.v div{
    line-height: 40px;
    font-size: 22px;
    text-align: center;
    height:350px;
    margin-right:12%;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}


main{
    background-image: url('img/contac.jpg');
    height:400px;
    width:100%;
    filter: blur(2px);
    z-index: -1;
    position: absolute;
    
}

.v button:hover{
    color:black;
    background-color: #6a2085;
    font-size:18px;
}

.abb{
    font-size:70px;
    padding-top:12%;
    margin-left:10%;
    padding-bottom:8%;
}

.icons div{
    box-shadow: 0 -5px 3px -3px black, 0 5px 3px -3px black;
    width:300px;
    height:250px;
    line-height: 40px;
}

.icons i{
    margin-top: 10%;
    color:rgb(127, 38, 135);
    font-size: 40px;
    
}
.icons i:hover{
    color:rgb(64, 186, 68);
   
    
}

.icons{
    display:grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
    margin-left: 10%;
    text-align: center;
    
}
.icons h4{
    margin-left:-2px;
}
form{
    border:2px solid rgb(158, 91, 169);
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 270px;
    padding:5%;
    margin:auto;
    margin-bottom: 5%;
}

#ng{
    width:80px;
    margin-left:30%;
    margin-top:5%;
}

.gf{
    height:70px;
}
input[type="text"], input[type="password"], input[type="email"], input[type="number"],input[type="submit"]{
    width:250px;
    padding:2%;
    margin:5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.login{
    margin-top:10%;
    margin-bottom: 10%;
}

input[type="submit"]{
   background-color: #9e65ff;
   color:aliceblue; 
}
.reg{
    color:green;
}

projectss{
    background-image: url('img/pro.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    padding-left:60%;
    width:40%;
    height:350px;
    filter: blur(1.3px);
    z-index: -1; 
    position: absolute;  
}

#projects{
    display:flex;
    flex-direction: column;
    margin-bottom:20%;
}

.ft1{
    margin-top:1%;
}

  
  .button {
    text-align: center;
    font-size: 1em;
    padding: 8px;
    padding-right: 45%;
    color: #130404;
    border: 2px solid #70279b;
    border-radius:5px 3px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button:hover {
    background: #619ba4;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
 

@media screen and(max-width:600px){
    .top-in{
        flex-wrap: nowrap;
        display:flex;
    }
}